h1{
    color: rgba(6, 6, 151, 0.5);
}
.p1{
    color:rgb(97, 2, 151);
}
.p2{
    color:rgb(97, 2, 151);
}
.h4{
    color:rgb(97, 2, 151);
}
.ul1{
    color:rgb(97, 2, 151);
}
img{
    width: 170px;
    border-radius: 300px;
    float: right;
   
}