html {
    scroll-behavior: auto !important;
}

body{
    background-image: url("imgs/bg.png"); 
    background-size: cover;
    background-color: #000000;
    margin-top: 30px;
    margin-left: 95px;

}

*{
    font-family: 'Inter', sans-serif;
}

div.main {
    width: 85%;
    height: 90%;
    background-color:rgba(39, 43, 54, 0.7);
    border: 1.5px solid;
    border-radius: 15px;
    border-color: rgba(240, 248, 255, 0.667);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;

   
}









div.profile{
    background-color:rgb(28, 30, 37);
    border: 1.5px solid;
    border-radius: 15px;
    border-color: rgba(240, 248, 255, 0.667);
    border-color: aliceblue;
    color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 2;

    width: 88%;
    height: 87%;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
}

.profile h1{
    width: 52%;
    overflow: hidden;
    white-space:nowrap;
    border-right: .10em solid rgb(255, 255, 255); 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    animation: typing 2s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 52% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

.bio{
    margin-left: 20px;
    margin-top: -10px;
}

.profile img{
    margin-top:8px;
    width: 100%;
}


.banner button{
   
    width: 100px;
    height: 30px;
    margin-left: -284px;
    margin-top: 36px;
    font-size: 14px;
    border: 3px solid;
    color: #000000;
    background-color: #ffffff;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    position: absolute;
}
.banner button:hover{
   

    color: white;
    background-color: #4C7CFF;
    border-color: aliceblue;
   
}





.socials{
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 8px;
    position: relative;

}

.socials  img{
    width: 23px;
    margin: 4px;

}

.socials  img:hover{
    background-color:#4C7CFF;

}








.projects{
    color: aliceblue;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    height: 80%;
    margin-top: 70px;
    margin-left: 20px;
    position: relative;
    overflow: scroll;
}

.projects::-webkit-scrollbar{
    display: none;
}


.projects h2{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 30px;
}

.grid-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 400px;
    height: 250px;
    margin: auto;
}

.grid-projects img{
    width: 70px;
    margin: auto;
    margin-top: 10px;
    transition: width 0.1s;
}

.grid-projects img:hover{
    width: 72px;
    -webkit-filter: drop-shadow(5px 5px 5px #ffffff);
    filter: drop-shadow(4px 4px 5px #ffffff); 
   
}

.grid-projects p{
    font-size: 13px;
    margin:10px ;
    text-align:center;
}





.skills{
    width: 80%;
    height: 100%;
    color: aliceblue;
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    display: flex;
    
}

.skills h4{
    margin-top:130px;
    margin-right: 40px;
    align-items: center;
    
}

.progresses{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.progresses::-webkit-scrollbar{
    display: none;
}


.prog-bar{
    background-color: #ffffff;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
  }

.prog-bar div{
    width: 0%;
    height: 6px;
}

.prog-bar div span{
    font-size: 12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: right;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.python{
    background-color: #80FF5B;
    animation: python 1s  forwards;

}

.python span{
    color:#000000;
    background-color: #80FF5B;
}

.c{
    background-color: #4C7CFF;
    animation: c 1s  forwards;

}

.c span{
    color:#000000;
    background-color: #4C7CFF;
}

.java{
    background-color: #ff91ff;
    animation: java 1s  forwards ;

}


.java span{
    color:#000000;
    background-color: #ff91ff;
}


.html{
    background-color: #FEFF4F;
    animation: html 1s  forwards;

}
.html span{
    color:#000000;
    background-color: #FEFF4f;
}

@keyframes python{
    100%{
        width: 90%;
    }
}

@keyframes c{
    100%{
        width: 50%;
    }
}
@keyframes java{
    
    100%{
        width: 70%;}
    
}


@keyframes html{
    100%{
        width: 20%;
    }
}
 

/*
.socials{
    margin-top: 400px;
    margin-left: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100px;
    height: 100px;
    text-indent: 10px;
    position: absolute;
    background-color:rgb(241, 31, 31);

}


.socials  img{
    width: 20px;
    background-color:rgb(235, 36, 246);

}

*/
/*
    font-family: 'IBM Plex Sans Arabic', sans-serif; */