.TITEL{
    position: relative;

}
h1{
    font-size: 3rem;
    color: #54BAB9;
    position: absolute;
    left: 40rem;
    top: 18rem;
}
body{
    background-color: #f0fcfe;
}
.shape1{
    position: relative;
    top: 5rem;
    left: 4rem;
    width: 30vw;
    height: 30vh;
    background-color: #BCE29E;
    border-radius: 77% 32% 79% 55% / 42% 79% 43% 86% ;
    box-shadow: 5px 5px #E5EBB2;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: black;
    font-weight: bold ;
    position: absolute;
    justify-content: center;
}
.shape2{
    position: relative;
    top: 2rem;
    left: 60rem;
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 76% 86% 79% 55% / 42% 79% 7% 38% ;
    background-color: #FF8787;
    box-shadow: 5px 5px #F8C4B4;
}
p2{
    color: black;
    font-weight: bold ;
    position: absolute;
    justify-content: center;
}
.shape3{
    position: relative;
    left: 6rem;
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 76% 86% 0% 55% / 4% 79% 65% 30% ;
    background-color: #BCCEF8;
    box-shadow: 5px 5px #B8E8FC;
}
p3{
    color: black;
    font-weight: bold ;
    position: absolute;
    justify-content: center;

}
.btnShape{
    position: relative;
}
.btn-homepage{
position: absolute;
font-weight: bold;
bottom: 36rem;
left: 70rem;
justify-content: space-evenly;
background-color: #B1AFFF;
color: black;
height: 5vh;
width: 9vw;
border-radius: 0px;
border: none;
outline: none;
cursor: pointer;
border-radius: 4px;
box-shadow: inset 0 0 0 0 #B8E8FC;
transition: ease-out 0.3s;
outline: none;
}
.btn-homepage:hover{
    box-shadow: inset 9vw 0 0 0 #B8E8FC;
}
.pic{
    position: relative;
}
img{
    position: absolute;
    left: 42rem;
    bottom: 20rem;

}
