html{
    position: relative;
    width: 1080px;
    height: 1080px;
}
h1{
    position: absolute;
    width: 401px;
    height: 109px;
    left: 154.01px;
    top: 200px;
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 109px;
    text-align: center;
    color: #FEE715;
}
p{
    position: absolute;
    width: 1022px;
    height: 244px;
    left: 140.01px;
    top: 370px;

    font-family: 'Kulim Park';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    color: #FEE715;
}

.FB{
    color:#FEE715;
    position: absolute;
    left: 800px;
    top: 39px;
    width: 50px;
    height: 50px;


}

.TW{
    color:#FEE715;
    position: absolute;
    left: 700px;
    top: 40px;
    width: 50px;
    height: 50px;

}

.Linkedin{
    color: #FEE715;
    position: absolute;
    left:900px;
    top:41px;
}

.Project2{
    color: #FEE715;
    position: absolute;
    width: 108px;
    height: 102px;
    left: 250px;
    top: 570px;

}

.Project3{
    color: #FEE715;
    position: absolute;
    width: 108px;
    height: 102px;
    left: 250px;
    top: 700px;

}
h3{
    position: absolute;
    left: 400px; 
    top: 570px; 
    color: white;
    font-size: xx-large;
}

h4{
    position: absolute;
    left: 400px; 
    top: 700px; 
    color: white;
    font-size: xx-large;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }