body{
    background-color: #f0fcfe;
}
.TITEL{
    position: relative;

}
h1{
    font-size: 3rem;
    color: #54BAB9;
    position: absolute;
    left: 10rem;
    top: 6rem;
}
.shape3{
    position: relative;
    left: 6rem;
    top: 25rem;
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 76% 86% 0% 55% / 4% 79% 65% 30% ;
    background-color: #BCCEF8;
    box-shadow: 5px 5px #B8E8FC;
}
p3{
    font-size: 2rem;
    color: black;
    font-weight: bold ;
    position: absolute;
    justify-content: center;

}

.buttonShape{
    position: relative;
}

.btn-homepage1{
    position: absolute;
    font-weight: bold;
    bottom: 9rem;
    left: 75rem;
    justify-content: space-evenly;
    background-color: #B1AFFF;
    color: black;
    height: 5vh;
    width: 9vw;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #B8E8FC;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-homepage1:hover{
    box-shadow: inset 9vw 0 0 0 #B8E8FC;
}

.picturs{
    position: relative;
}

.linkdn{
    position: absolute;
    top: 18rem;
    left: 65rem;
}
.twtr{
    position: absolute;
    left: 65rem;
    bottom: 1rem;
}
.gthb{
    position: absolute;
    left: 65rem;
    top: 6rem;
}
