*{
    box-sizing: border-box;      
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(#F7F5EB, #EAE0DA);
}

.title1{
    position: relative;  
}
.h1{
    position: absolute;
    left: 15rem;
    top: 15rem;
    font-size: 60px;
    color: #282A3A;
    font-style:oblique;
}

.shape1{
    position: relative;
    left: 68rem;
    top: 0rem;
    background-color:#FF8787;
    width: 20vw;
    height: 95vh;
    border-radius: 0px;
    box-shadow: 5px 5px #F8C4B4;
}

.shape2{
    position: absolute;
    top: 18rem;
    right: 5rem;
    background-color:#BCE29E;
    width: 25vw;
    height: 53vh;
    border-radius:50%;
    box-shadow: 5px 5px #E5EBB2;
}


.parg{
    position: relative;
}

.p4{
    position: absolute;
    bottom: 10rem;
    left: 15rem;
    color: #7895B2;
    font-weight: bold;
    font-size: 23px;
    font-style:oblique;
}

.ALLshape{
    position: absolute;
}


.btn{
    justify-content: space-evenly;
    background-color: #0C3756;;
    color: rgb(255, 255, 255);
    height: 5vh;
    width: 9vw;
    position: relative;  
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.btn-about{
    position: absolute;
    font-weight: bold;
    font-size: 2rm;
    bottom: 38rem;
    left: 4rem;
    border: none;
    color: black;
    background-color: #B1AFFF;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #B8E8FC;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-about:hover{
    box-shadow: inset 9vw 0 0 0 #B8E8FC;
}

.btn-skills{
    position: absolute;
    font-weight: bold;
    font-size: 2rm;
    bottom: 38rem;
    left: 24rem;
    border: none;
    color: black;
    background-color: #B1AFFF;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #B8E8FC;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-skills:hover{
    box-shadow: inset 9vw 0 0 0 #B8E8FC;
}

.btn-contact{
    position: absolute;
    font-weight: bold;
    font-size: 2rm;
    bottom: 38rem;
    left: 45rem;
    border: none;
    color: black;
    background-color: #B1AFFF;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #B8E8FC;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-contact:hover{
    box-shadow: inset 9vw 0 0 0 #B8E8FC;
}


.GDSC{
    position: absolute;
    left: 4rem;
    bottom: 5rem;
}


/*@media (max-width: 1353px){
    .shape1{
        width: 25vw;
        left: 55rem;  
       
    }
    .shape2{
        width: 29vw;
        height: 52vh;
        top: 43%;
    }
    .GDSC{
        bottom: 6rem;
    }
    .btn-skills{
        left: 20rem;
    }
    .btn-contact{
        left: 35rem;
    }   

    .h1{
       font-size: 50px; 
       left: 11rem;
    }
    .p4{
        font-size: 20px;
        bottom: 13rem;
        left: 11rem;
    }
}

@media (max-width: 1155px){ 
    .shape1{
        left: 50rem;
        width: 25vw;
    }
    .shape2{
        width: 29vw;
        height: 50vh;
        right: 5rem;
        top: 19rem;
    }
    .GDSC{
        width: 20vw;
        height: 25vh;
        bottom: 7rem;
        left: 3rem;
    }
}

@media (max-width: 1060px){
    .shape1{
        left: 48rem;
    }
}
@media (min-width:930px) and (max-width: 990px){
    .shape1{
        left: 44rem;
        background-color: green;
    }
    .shape2{
        width: 30vw;
        height: 48vh;
        right: 5rem;
        top: 20rem;
    }
    .btn-skills{
        left: 17rem;
    }
    .btn-contact{
        left: 30rem ;
    }
    .h1{
        font-size: 45px;
        left: 9rem;
    }
    .p4{
        font-size: 15px;
        left: 9rem;
        bottom: 15rem;
    }
}

@media (min-width: 850px) and (max-width: 900px) {
    .shape1{
        background-color: tomato;
    }
}*/

